<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-thumbnail>
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Uber_App_Icon.svg">
              </ion-thumbnail>
            </ion-row>
            <ion-row>
              Uber
            </ion-row>
            <ion-row>
              <button ion-button clear>View</button>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
